@font-face {
    font-family:Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
} 

* {
    font-family: "Roboto";
    font-size: 12pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
}

#interface .cabecalho {
    display: block;
    width: 70%;
    margin: 0 auto 2rem auto;
}

#interface .cabecalho h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#interface main {
    display: block;
}

#interface table {
    margin: 0 auto;
   padding: .5rem;
   border-radius: .25rem;
   background-color: #ddd;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0)
}

#interface table #painel {
   display: block;
   padding: 5px;
   margin-bottom: 5px;
   background-color: #333;
   border-radius: .25rem;
}

#interface table #painel #txt-operadores {
    display: block;
    color: #fafafa;
    text-align: right;
}

#interface table #painel #txt-display {
     display: block;
     width: 100%;
     background-color: transparent;
     border: 0;
     outline: none;
     color: #fafafa;
     text-align: right;
    font-size: 22px;
}

#interface table button {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}

#interface table #bt-plus, #interface table #bt-equal {
    height: 102px;
}
