@font-face {
    font-family:Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
} 

* {
    font-family: "Roboto";
    font-size: 12pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
}

#interface .cabecalho {
    display: block;
    width: 70%;
    margin: 0 auto 2rem auto;
}

#interface .cabecalho h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}
#interface table {
    margin: 0 auto;
    border: 1px solid black;
}

#interface table button {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}
#interface table #bt-plus, #interface table #bt-equal {
    height: 102px;
}
